:root {
    --text: #dfe6f0;
    --font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica, Arial;
}

body {
    background: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
    height: 100%;
    font-size: 16px;
    font-family: var(--font-family);
}

header {
    position: static;
    margin: 0;
}

#toolbar {
    padding: 10px;
    background: #1e1e1e;
    border-bottom: 1px solid #333;
}

#toolbar .tool-button.active {
    background-color: #555;
    border-color: #777;
}

button {
    padding: 6px 12px;
    font-size: 16px;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    user-select: none;
}

#toolbar button:hover {
    background-color: #444;
}

#circuit-canvas {
    display: block;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    border: 1px solid #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

#filename-display {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #e0e0e0;
    padding: 0;
    margin-bottom: 1px;
    font-family: var(--font-family);
}

#filename-input {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    background: transparent;
    color: #e0e0e0;
    border: none;
    border-bottom: 1px dotted #aaa;
    outline: none;
    padding: 0;
    font-family: var(--font-family);
}

hr {
    border: none;
    height: 1px;
    background-color: #555;
}

.floating-menu {
    position: absolute;
    padding: 0;
    background: #1e1e1e;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--font-family);
}

.floating-menu-header,
.floating-menu-container {
    padding: 15px;
    display: flex;
}

.floating-menu-header {
    gap: 3rem;

}

.floating-menu-header>span {
    width: 100%;
    display: inline-block;
}

.floating-menu-header>input[type="checkbox"] {

}

.floating-menu-container {
    border-top: 1px solid #555;
    gap: 0.5rem;
}

.floating-menu-container>hr {
    width: 100%;
    height: 1px;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.justify {
    justify-content: center;
}

.gap-0 {
    gap: 0;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-3 {
    gap: 1rem;
}

.gap-5 {
    gap: 3rem;
}

.text-center {
    text-align: center;
}