:root {
    --font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica, Arial;
    --text: #070707;
    --bg-color: #e0e0e0;
    --btn-color: #e7e7e7;
    --btn-color-hover: #cdcdcd;
    --btn-color-active: #f3f3f3;
    --btn-color-border: #9e9d9d;
    --hr-color: #313131;
    --fm-bg-color: #eeeeee;
    --fm-border-color: #313131;
}

[data-theme="dark"] {
    --text: #e0e0e0;
    --bg-color: #121212;
    --btn-color: #333;
    --btn-color-hover: #444;
    --btn-color-active: #525252;
    --btn-color-border: #444;
    --hr-color: #555;
    --fm-bg-color: #1e1e1e;
    --fm-border-color: #555;
}

body * {
    scrollbar-width: thin;
    scrollbar-color: var(--fm-border-color) transparent;
}


body {
    background: var(--bg-color);
    color: var(--text);
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
    height: 100%;
    font-size: 16px;
    font-family: var(--font-family);
}

header {
    position: static;
    margin: 0;
}

button {
    padding: 6px 12px;
    font-size: 16px;
    background-color: var(--btn-color);
    color: var(--text);
    border: 1px solid var(--btn-color-border);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    user-select: none;
}

button:hover {
    background-color: var(--btn-color-hover);
}

button[active] {
    background-color: var(--btn-color-active);
}

#circuit-canvas {
    display: block;
    width: 100%;
    height: 100%;
    background: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

#filename-display {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    color: var(--text);
    padding: 0;
    margin-bottom: 1px;
    font-family: var(--font-family);
}

#filename-input {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    background: transparent;
    color: var(--text);
    border: none;
    border-bottom: 1px dotted var(--text);
    outline: none;
    padding: 0;
    font-family: var(--font-family);
}

hr {
    border: none;
    height: 1px;
    background-color: var(--hr-color);
}

.floating-menu {
    position: absolute;
    padding: 0;
    background: var(--fm-bg-color);
    border: 1px solid var(--fm-border-color);
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--font-family);
    box-shadow: 0px 3px 10px 0px #00000073;
}

.floating-menu-header,
.floating-menu-container {
    padding: 15px;
    display: flex;
}

.floating-menu-header {
    gap: 3rem;
    justify-content: space-between;
}

.floating-menu-header>span {
    pointer-events: none;
}

.floating-menu-header>input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    rotate: -90deg;
    /* transition: rotate .1s; */
}

.floating-menu-header>input[type="checkbox"]:checked {
    rotate: 0deg;
}

.floating-menu-header>input[type="checkbox"]::after,
.floating-menu-header>input[type="checkbox"]::before {
    content: "";
    display: block;
    width: 10px;
    height: 3px;
    background-color: #F33;
    position: absolute;
}

.floating-menu-header>input[type="checkbox"]::before {
    transform: rotate(45deg);
    translate: 4px 10px;
}

.floating-menu-header>input[type="checkbox"]::after {
    transform: rotate(-45deg);
    translate: 4px 5px;
}

.floating-menu-container {
    border-top: 1px solid var(--fm-border-color);
    gap: 0.5rem;
}

.floating-menu-container>hr {
    width: 100%;
    height: 1px;
}

#theme-toggle {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 3px;
    margin: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 10px 0px #00000073;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    background: none;
    color: var(--text);
    font-family: var(--font-family);
    font-size: 20px;
    padding: 0;
    border: none;
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"]:focus,
input[type="number"]:active,
input[type="number"]:focus-visible,
input[type="number"]:hover {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--text);
}

input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid var(--btn-color-border);
    border-radius: 4px;
    padding: 0;
    width: 32px;
    height: 32px;
    outline: none !important;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

button.hide {
    background: none;
    border: none;
}

button.hide::after,
button.hide::before {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background-color: #F33;
    position: absolute;
}

button.hide::before {
    transform: rotate(45deg);
    translate: -50% -1px;
}

button.hide::after {
    transform: rotate(-45deg);
    translate: -50% -1px;
}
select,
textarea {
    background-color: var(--fm-bg-color);
    padding: 5px;
    color: var(--text);
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--font-family);
}

select:focus,
select:active,
select:focus-visible,
select:hover,
textarea:focus,
textarea:active,
textarea:focus-visible,
textarea:hover {
    outline: none;
    border: 1px solid var(--text);
}

select {
    padding: 6px 12px;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.justify {
    justify-content: center;
}

.between {
    justify-content: space-between;
}

.gap-0 {
    gap: 0;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-3 {
    gap: 1rem;
}

.gap-5 {
    gap: 3rem;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none !important;
}

.align-center {
    align-items: center;
}